<form method="post" name="edit" action="/index.php/edit/{{ id }}">
    <h4>Edit </h4>
    <div style="visibility: hidden">
        <label for="device">PC</label> <input type="radio" name="device"
                                              value="Computer" {% if  (type=="Computers") %} checked {% endif %}>
        <label for="device">Smartphone</label> <input type="radio" name="device"
                                                      value="Smartphone"{% if  (type=="Smartphones") %} checked {% endif %}>
        <label for="device">Tablet</label> <input type="radio" name="device"
                                                  value="Tablet"{% if  (type=="Tablets") %} checked {% endif %}>
    </div>
    <div><label for="name">Name</label><input type="text" name="name" value="{{ name }}"></div>
    <div><label for="oc">OC</label><input type="text" name="oc" value="{{ oc }}"></div>
    <div><label for="data">Data</label><input type="text" name="data" value="{{ data }}"></div>
    {% if(phoneNumber == "") %}
    {% else %}
        <div><label for="phone">phone-number(if you choice smartphone)</label><input type="text"
                                                                                     name="phoneNumber"
                                                                                     value="{{ phoneNumber }}"></div>
    {% endif %}

    <label for="internet">Connect to internet</label>
    <div>
        <label for="internet">YES</label> <input type="radio" name="connectedToInternet"
                                                 value=1 {% if  (ConnectedToInternet==1) %} checked {% endif %}>
        <label for="internet">NO</label> <input type="radio" name="connectedToInternet"
                                                value=0 {% if  (ConnectedToInternet==0) %} checked {% endif %}>
        <div><input type="submit" name="create" value="ok"></div>
</form>