<form method="post" name="create" action="/index.php/data">
    <label for="device">Type of device</label>
    <div>
        <label for="device">PC</label> <input type="radio" name="device" value="Computer">
        <label for="device">Smartphone</label> <input type="radio" name="device" value="Smartphone">
        <label for="device">Tablet</label> <input type="radio" name="device" value="Tablet">
    </div>

    <div><label for="name">Name</label><input type="text" name="name"></div>
    <div><label for="oc">OC</label><input type="text" name="oc"></div>
    <div><label for="data">Data</label><input type="text" name="data"></div>
    <div><label for="phone">phone-number(if you choice smartphone)</label><input type="text" name="phoneNumber"></div>
    <label for="internet">Connect to internet</label>
    <div>
        <label for="internet">YES</label> <input type="radio" name="connectedToInternet" value=1>
        <label for="internet">NO</label> <input type="radio" name="connectedToInternet" value=0>
        <div><input type="submit" name="create" value="ok"></div>
</form>